
<div class="message-box">
<h1>404</h1>
<p>Page not found</p>
<div class="buttons-con">
  <div class="action-link-wrap">
    <%= link_to 'Go to Home Page', tasks_path, class:"link-button" %>
  </div>
</div>
</div>