<%= form_with(model: label_task) do |form| %>
  <% if label_task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(label_task.errors.count, "error") %> prohibited this label_task from being saved:</h2>

      <ul>
        <% label_task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
